{
  "presets": ["env", "react"],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "preact.h"
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true,
            "additionalLibraries": ["react-style-proptype"]
          }
        ]
      ]
    }
  }
}
